<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Pacifico">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
          body{
            background-color: white;
          }
          /* .jumbotron img{
            height: 100rem;
            width: 100rem;
          }
          .jumbotron{
            background-image: url("https://blog.xojo.com/wp-content/uploads/2017/11/books-1.png");
            background-color: #c7dbf9;
          }
          .container .jumbotron .col-md-12 h1 {
              font-family: 'Pacifico';
              font-size: 82px;
          } */
          .container img{
            width: 100%;
          }
          .container .row .col-md-8{
            background-color: white;
            border-style: solid;
            border-width: thin;
          }
          .container .carousel{
            height: 10%;
            width: 100%;
          }

          .container .card-body{
            text-align: left;
          }

         #map {
          height: 400px;
          width: 100%;
         }

        </style>
        <title>

        </title>
    </head>
    <body>

                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">MY BLOG</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/blogs/new">New Posts</a>
                        </li>
                      </ul>
                    </div>
              </nav>
